* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: aliceblue;
}

.headerr {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%,  rgba(57,255,186,1) 0%, rgba(21,38,82,1) 90% );
}

.headerr a {
    color: rgb(182, 64, 166);
    margin-left: 50px;
    font-size: large;
}

.post {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-left: 10vw;
    border-style: groove;
    background-color: rgb(240,240,240);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-left: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
}

#main {
    width: 75vw;
    margin-left: 20px;
    height: 30vh;
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 15px;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username {
    margin-left: 20px;
    cursor: pointer;
}

.title {
    margin: 0.9vw;
    margin-left: 1.5vw;
    color: rgb(88,88,88);
    font-size: large;
    width: 75vw;
}

form button {
    width: 7vw;
    height: 5vh;
    cursor: pointer;
    margin-left: 1.5vw;
    margin: 0.9vw;
}

.post-image {
    margin-left: 1.5vw;
    margin: 0.9vw;
}