
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Your Blogs Here</title>
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
</head>
<body>
    <div class="headerr">
        <a href="/">Home</a>
    </div>
    <div class="post">
        <div class="header">
            <div class="avatar"><img src="{{user_profile.profileimg.url}}" alt="Avatar"></div>
            <div class="username">
                {{user_profile.user.username}}
            </div>
        </div>

        <form action="upload" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="title">Title of Blog</label>
            <input type="text" name="title" class="title" placeholder="Strongly Connected Components">
            <label for="main">Blog Text</label>
            <textarea name="main" id="main" cols="30" rows="10" class="main"></textarea>
            <label for="image">Select Image</label>
            <input type="file" class="post-image" name="image">
            <button type="submit">Upload Post</button>
        </form>
    </div>
</body>
</html>